{# Example Jinja2 template #}

hostname {{item. hostname }}
interface FastEthernet{{ item.interface_id }}
  ip address {{item.ip_address}} {{item.net_mask}}
  no shutdown
  duplex auto
  speed auto


ntp-server {{item.ntp_server1}}
ntp-server  {{item.ntp_server2}}

name-server {{item.dns_server1}} 
name-server {{item.dns_server2}}
