
        {
            "name": "{{pool_name}}",
            "loadBalancingMode": "{{pool_lbmethod}}",
            "description": "{{pool_description}}",
            "monitor": "{{pool_monitor}}"
        
        }