{
    "ietf-interfaces:interface": {
        "name": "{{interface_name}}",
        "description": "{{description}}",
        "type": "iana-if-type:ethernetCsmacd",
        "enabled": {{status}},
        "ietf-ip:ipv4": {"address": [
                        {
                            "ip": "{{v4address}}",
                            "netmask": "{{v4netmask}}"
                        }
                    ]},
        "ietf-ip:ipv6": {}
    }
}