crypto isakmp policy {{ikmp_pol_id}}
encryption aes 256
authentication pre-share
group 14
lifetime 180
crypto isakmp key {{ikmp_key}} address {{peer_ip}}

crypto ipsec transform-set {{transf_set_name| upper }} esp-aes 256 esp-sha-hmac
mode transport

crypto map {{cryp_map_name | upper }} 10 ipsec-isakmp
set peer {{peer_ip}}
set transform-set {{transf_set_name | upper }}
match address {{acl_id}}

interface FastEthernet0/0
ip address 10.0.110.2 255.255.255.0
crypto map {{cryp_map_name | upper }}

ip route 0.0.0.0 0.0.0.0 10.5.1.1
ip route 10.0.110.0 255.255.255.0 FastEthernet0/0

access-list {{acl_id}} permit ip {{source_ip}} {{inv_mask}} {{dest_ip}} {{inv_mask}}