{# Example Jinja2 template #}

hostname {{ hostname | lower }}
  {% for intnum in intlist %}
interface FastEthernet{{ intnum }}
  no ip address
  no shutdown
  duplex auto
  speed auto
 {% endfor %}

