interface Mgmt0
description {{desc}}
cdp
vrf DCN
ipv4 address {{ip}} {{mask}}
ipv4 access-group MGMT0_INGRESS ingress
exit

static route {{gw}}

vlan {{vlan|int}}

interface vlan{{vlan|int}}

interface bundle-ether{{bun|int}}.{{vlan|int}}






