
        {
            "name": "{{item.ltm_pool_name}}",
            "loadBalancingMode": "{{item.ltm_pool_lbmethod}}",
            "description": "{{item.ltm_pool_description}}",
            "monitor": "{{item.ltm_pool_monitor}}"
        
        }